<!DOCTYPE html>
<html>

<head>
	<title>{% block title %}SimpleToDo{% endblock %}</title>
  	<link rel="stylesheet" href="style.css"> 

	<link rel="stylesheet" href="style.css"> 
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="../static/js/jquery-2.1.4.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>

</head>

<body>
	<h1 class="jumbotron">SimpleToDo</h1>
	<p>Hi there</p>
	<h4>This page is yet to be designed</h4>
	<div class="container">
		<form action="signin" method="POST">
		{%csrf_token%}
		<input type="text" name="username" placeholder="Username" required>
		<input type="password" name="password" placeholder="Password" required>
		<button class="btn">SignIn</button>
	</form>
	<div style="margin-top:10px">
		<form action="signup" method="POST">
			{%csrf_token%}
			<input type="text" name="username" placeholder="Username" required>
			<input type="password" name="password" placeholder="Password" required>
			<button class="btn">SignUp</button>
		</form>	
					{% if messages %}
						<ul class="messages">
		    			{% for message in messages %}
		    				<!--{% if 'success' in message.tags %}
        						<div class="alert alert-success">
            						<a class="close" href="#" data-dismiss="alert">×</a>
            						<strong>Success!</strong>
                					{{ message }}
        						</div>
    						{% endif %}-->
		    					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>			
		    				}
		    			{% endfor %}
						</ul>
					{% endif %}
		<div style="margin-top:10px">
		<form action="userDashboard" method="POST">
			{%csrf_token%}
			<button class="btn btn-default">Dashboard</button>
		</form>	
	</div>
		
	</div>
	<!--
	<div class="container">
		<div class="pull-right">
			<form action="addTask" method="POST">
			{%csrf_token%}
			<div class="form-group">
				
					<input type="text" name="task_name" placeholder="Task Name" required>
					<input type="text" name="task_description" placeholder="Add task" required>
					<input type="text" id="datepicker" name="due_date" placeholder="Due date" autocomplete='off' required>
					<button class="btn btn-primary">Add</button>
				
			</div>
		</form>		
		</div>
	</div>-->

</body>

</html>
